{% extends 'html/base/base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center"><strong>Не много о нас)</strong></h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="ul ul-im">
                    <li>Группа: ФМ-12-18</li>
                    <li>ФИО: Афанасьев Никита Сергеевич</li>
                    <li>БД: postgres</li>
                    <li>Версии: python-3.8, Django-3.1.4</li>
                    <li>Год: 2020</li>
                    <li>@все права защищены</li>
            </div>
            <div class="col-md-6">
                <p><img class="img bt" src="../../static/image/cat.jpg"></p>
            </div>
        </div>
    </div>
{% endblock %}