/* Base */
body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    background-color: rgba(255,186,87,0.48);
}

address {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: #ffa748;
}

/* HomePage */
.bt {
    box-shadow: 4px 4px 10px black;
}

.block {
    display: inline-block;
}

.ul {
    list-style-type: none;
    font-size: 30px;
}
.ul-im {
    list-style-image: url(../image/info.svg);
    font-size: 30px;
}

.a {
    margin-top: 20px;
    margin-left: 60px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}
.a:hover {
    text-decoration: none;
    color: #000000;
}
.img {
    width: 400px;
    height: 400px;
}

/* Ad */
.ad {
    color: black;
}

.ad:hover {
    text-decoration: none;
    color: blue;
}

/* Ad detail */
.bt-1 {
    margin-bottom: 20px;
    margin-right: 10px;
    float: right;
}

.ul-ad {
    list-style-type: none;
    list-style-image: none;
    font-size: 20px;
}

.p {
    padding-left: 40px;
    font-size: 20px;
}

.rer {
    padding-top: 50px;
}

#okno {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#okno:target {display: block;}

