/* Base */
body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    background-color: rgba(255,186,87,0.48);
}

#ccopyright {
    clear: both;
    text-align: center;
    padding-top: 170px;
}

address {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: #ffa748;
}

/* HomePage */
.ul {
    font-family: cursive;
    list-style-type: none;
    font-size: 30px;
}
.ul-im {
    list-style-image: url(../image/info.svg);
    font-size: 30px;
}
.a {
    color: black;
}
.a:hover {
    text-decoration: none;
    color: #ff4722;
}
.img {
    padding-top: 10px;
    width: 400px;
    height: 400px;
}
