{% extends 'html/base/base.html' %}

{% block content %}
    <h2 class="text-center"><strong>Вакансии:</strong></h2>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <td>Работа</td>
                <td>Организация</td>
                <td>Зарплата</td>
                <td></td>
            </tr>
            {% for ad in ad_list %}
                <tr>
                    <td><a class="ad" href="#">{{ ad.work }}</a></td>
                    <td><a class="ad" href="#">{{ ad.organization }}</a></td>
                    <td>{{ ad.salary }}</td>
                    <td><a class="ad btn bt btn-success btn-sm" href="{% url 'ad-detail' ad.pk %}">посмотреть</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}