{% extends 'html/base/base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center"><strong>Вакансии:</strong></h2>
        {% if user.is_superuser %}
        <div>
            <a class="ad btn bt btn-success btn-sm bt-1" href="{% url 'ad-new' %}">Добавить</a>
        </div>
        {% endif %}
        <table class="table table-striped">
            <tr>
                <td></td>
                <td>Работа</td>
                <td>Организация</td>
                <td>Зарплата</td>
                <td></td>
            </tr>
            {% for ad in ad_list %}
                <tr>
                    <td>{{ ad.id }}</td>
                    <td>{{ ad.work }}</td>
                    <td>{{ ad.organization }}</td>
                    <td>{{ ad.salary }}</td>
                    <td><a class="ad btn bt btn-success btn-sm" href="{% url 'ad-detail' ad.pk %}">посмотреть</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}