{% extends 'html/base/base.html' %}

{% block content %}
    <div class="container">
        <h2 class="text-center"><strong>Привет, ищешь работу? Тогда ты попал по адресу!</strong></h2>
        <div class="row r">
            <div class="col-md-8">
                <ul class="ul ul-im">
                    <li>Количество работ: {{ work }}</li>
                    <li>Количество объявлений: {{ ad }}</li>
                    <li>Количество организаций: {{ organization }}</li>
                    <li>Количество комментариев: {{ comments }}</li>
                </ul>
                <div class="block">
                    <a class="a btn bt btn-success btn-lg" href="{% url 'ad-list' %}">Посмотреть вакансии</a>
                    <a class="a btn bt btn-success btn-lg" href="#">Задать вопрос</a>
                </div>
            </div>
            <div class="col-md-4">
                <p><img class="img bt" src="../../static/image/1.jpg"></p>
            </div>
        </div>
    </div>
{% endblock %}